h1 {
	color: #604AA8;
	font-size: 50px;
	text-align: center;
	font-family: Arial;
}

h2 {
	color: #B31717;
	font-family: Arial;
}

p {
	font-family: Arial;

}

h3 {
	color:purple;
}

div p{ 
	color: #0F3254; 

}


body {
	background-color: #E89494;
	margin-right: 200px;
	margin-left: 250px;
}
